body{
    padding: 0;
    margin: 0;
}
.welcome{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-image: url('img/image0.png');
    color: black;
    padding-left: 80px;
    background-size: cover;  
    background-repeat: no-repeat; 
    background-position: center center;  
}
.headline{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: cursive;
}
.start-game{
    padding: 20px;
    font-size:30px;
    border-radius: 15px;
    font-family: cursive;
    margin-bottom: 100px;
}
.start-game:hover{
    background-color: brown;
    color:black;
    border: 2px solid black;
    color:white;
}
.displaynone{
    display: none;
}
.displayflex{
    display: block;
}

.see-rules{
    padding: 10px;
    font-size:15px;
    border-radius: 15px;
    font-family: cursive;
    width: 200px;
    
}
.see-rules:hover{
    background-color: brown;
    color:black;
    border: 2px solid black;
    color:white;
}


.rules-section{
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 15px;
    color: white;
}
.rules-section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px; 
    width: 100%;
    position: relative;
}
.rules-section-picture{
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgrules{
    width: 100%;
}
.rules-section-explanation{
    font-family: cursive;
    font-size: 20px;
    padding-top: 50px;

}
.backbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.backToHome{
    padding: 10px;
    font-size:15px;
    border-radius: 15px;
    font-family: cursive;
    width: 200px;
}
.backToHome:hover{
    background-color: brown;
    color:black;
    border: 2px solid black;
    color:white;
}
.close{
  position: absolute;
  top:20px;
  right: 20px;
  font-size: 50px;
  color:black;

}
.close:hover{
  cursor: pointer;
  
}




.overlay{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center; 
    align-items: center; 
    font-family: cursive;
}



/* Stil za sadržaj modala */
.input-name-content{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
    /* transform: translate(100%, 100%); */
    z-index: 1;
    top: 35%;
    left: 35%;
}

/* Stil za zatvaranje modala */
.give-up {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.give-up:hover,
.give-up:focus {
    color: black;
    text-decoration: none;
}

#nicknameForm{
    padding-bottom: 20px;
}
#exit{
    padding: 5px;
    font-size:10px;
    border-radius: 15px;
    font-family: cursive;
    width: 100px;  
}
#exit:hover{
    background-color: brown;
    color:black;
    border: 2px solid black;
    color:white;
}
#enterGameBtn{
    padding: 5px;
    font-size:10px;
    border-radius: 15px;
    font-family: cursive;
    width: 100px;  
}
#enterGameBtn:hover{
    background-color: brown;
    color:black;
    border: 2px solid black;
    color:white;
}
.headlineForm{
    color:white;
}
.playAgain-btn{
    padding: 5px;
    font-size:10px;
    border-radius: 15px;
    font-family: cursive;
    width: 100px;  
}
.playAgain-btn:hover{
    
    background-color: brown;
    color:black;
    border: 2px solid black;
    color:white;
   
}